In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

print("libraries all imported, ready to go")

libraries all imported, ready to go

In [15]:
ls = [1,2,3, np.nan]

for value in ls:
    print(value/2)

0.5
1.0
1.5
nan

In [17]:
7%3

1

In [25]:
def addition (x,y):
    sum = x+y;
    return sum;
number1=33
number2=44
print("The sum is:", addition(number1,number2))

The sum is: 77

In [27]:
a = 10
b = 20
print("Is a smaller than b?", a < b)
print("Is a equal to b?", a == b)
print("Is a not equal to b?", a != b)

Is a smaller than b? True
Is a equal to b? False
Is a not equal to b? True

In [46]:
print("Is 'testing' the same as '"testing?"'", 'testing' == "testing")

SyntaxError: invalid syntax (<ipython-input-46-ac0cc8e59634>, line 1)

In [7]:
print(1 == 1 and not (1 == 0))

True

In [15]:
sentence = '''Is 'testing' == "testing"'''
print(sentence)

Is 'testing' == "testing"

In [16]:
'testing' == "testing"

True

In [17]:
def add(x, y):
    return x+y

z = add(10, 5)
print(z)

15

In [26]:
def force(m,a):
    return m*a

F_1 = force(10,93)
print(F_1)

930

In [51]:
# Addition
def addition(a, b): # Define function name
    """
    I am a docstring, this function is used for addition
    """
    return (a + b)  # Return function will return the answer when you call the function like below

addition(1, 2)

3

In [56]:
def cheese_and_crackers(cheese_count, boxes_of_crackers):
    print ("You have %d cheeses!" % cheese_count)
    print ("You have %d boxes of crackers!" % boxes_of_crackers)
    print ("Man that's enough for a party!")
    print ("Get \n a \n blanket.\n")

cheese_and_crackers(10,100)

You have 10 cheeses!
You have 100 boxes of crackers!
Man that's enough for a party!
Get
 a
 blanket.

In [57]:
# Write a function that square its input
def square_input(happy):
    return happy ** 2
square_input(10)

100

In [1]:
weight = float(input("How many pounds does your suitcase weigh?"))
if weight > 50:
    print("There is a $25 charge for luggage that heavy.")
else:
    print("We will not charge you any extra")
    print("Thank you for your business.")

How many pounds does your suitcase weigh?2
We will not charge you any extra
Thank you for your business.

In [3]:
height = float(input("How high?"))
if height > 100:
    print("high")
else:
    print("short")

How high?60
short

In [6]:
str1='''This is 
the first
Multi-line string.
'''
print(str1)

This is
the first
Multi-line string.

In [7]:
print('id: ', 1)
print('First Name: ', 'Steve')
print('Last Name: ', 'Jobs')

id:  1
First Name:  Steve
Last Name:  Jobs

In [8]:
if 100 > 99 and \
    200 <= 300 and \
    True != False:
        print('Hello World!')

Hello World!

In [14]:
print('Hello World!') # a multi-line statement

Hello World!

In [15]:
print('id: ', 1);print('First Name: ', 'Steve');print('Last Name: ', 'Jobs')

id:  1
First Name:  Steve
Last Name:  Jobs

In [28]:
def Sayhello(name):
    print("Hello ", name)
    """
    sds
    """
    print("Welcome to Python Tutorials")

Sayhello("Cherie")

Hello  Cherie
Welcome to Python Tutorials

In [32]:
num = 20
type(num)

s = "python"
type(s)

str

In [36]:
a = 2
a += 1
print(a)

3

In [37]:
0b11011000

216

In [38]:
type(1.1)

float

In [58]:
int('101',4)

17

In [60]:
str(100)

'100'

In [69]:
names=[1, 2, 3, [4, 5, 6, [7, 8, [9]]], 10] 
print(names[0]) # returns 1
print(names[1]) # returns 2
print(names[3])

1
2
[4, 5, 6, [7, 8, [9]]]

In [71]:
names = ('Jeff', 'Bill', 'Steve', 'Yash')
type(names)

tuple

In [75]:
num = 0

while num < 5:
    num = num + 1
    print ('num = ', num)

num =  1
num =  2
num =  3
num =  4
num =  5

In [73]:
num = 0

while num < 5:
    num += 1
    print ('num =', num)
    if num == 3:
        break

num = 1
num = 2
num = 3

In [87]:
for letter in 'Python':     # First Example
    if letter == 'h':
        continue
    print ("Current Letter :", letter)

var = 10                    # Second Example
while var > 0:              
    var = var - 1
    if var == 5:
        continue
    print ("Current variable value :", var)
print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0
Good bye!

In [89]:
num=0
count=0
sum=0

while num>=0:
    num = int(input('enter any number .. -1 to exit: '))
    if num >= 0:
        count = count + 1 # this counts number of inputs
        sum = sum + num # this adds input number cumulatively.
avg = sum/count
print('Total numbers: ', count, ', Average: ', avg)

enter any number .. -1 to exit: 2
enter any number .. -1 to exit: 2
enter any number .. -1 to exit: 3
enter any number .. -1 to exit: 5
enter any number .. -1 to exit: 0
enter any number .. -1 to exit: -1
Total numbers:  5 , Average:  2.4

In [90]:
nums = [10, 20, 30, 40, 50]

for i in nums:
    print(i)

10
20
30
40
50

In [91]:
for char in 'Hello':
    print (char)

H
e
l
l
o

In [92]:
# dictionary: unordered collection that contains key:value pairs
capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}

In [95]:
# Dictionary items()
# dict.items() return a dictionary view object

romanNums = {'I':1,'II':2,'III':3,'IV':4}
dictview = romanNums.items()
print(dictview)

romanNums = {'I':1,'II':2,'III':3,'IV':4}
dictview_1 = romanNums.items()
print("Dictionary View Object: ", dictview_1)
romanNums['V'] = 5
print("Dictionary View Object after adding new element: ", dictview_1)

dict_items([('I', 1), ('II', 2), ('III', 3), ('IV', 4)])
Dictionary View Object:  dict_items([('I', 1), ('II', 2), ('III', 3), ('IV', 4)])
Dictionary View Object after adding new element:  dict_items([('I', 1), ('II', 2), ('III', 3), ('IV', 4), ('V', 5)])

In [97]:
numNames = { 1:'One', 2: 'Two', 3: 'Three'}

for pair in numNames.items():
    print(pair)

(1, 'One')
(2, 'Two')
(3, 'Three')

In [98]:
numNames = { 1:'One', 2: 'Two', 3: 'Three'}

for k,v in numNames.items():
    print("key = ", k , ", value =", v)

key =  1 , value = One
key =  2 , value = Two
key =  3 , value = Three

In [99]:
for i in range(5):
    print(i)

0
1
2
3
4

In [100]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [104]:
for i in range(1, 5):
    if i > 2:
        break
    print(i)

1
2

In [106]:
for i in range(1, 5):
    if i == 3:
        continue
    print(i)

1
2
4

In [107]:
for i in range(3):
    print(i)
else:
     print('End of for loop')

0
1
2
End of for loop

In [108]:
for x in range(1,4):
    for y in range(1,3):
        print('x = ', x, ', y = ', y)

x =  1 , y =  1
x =  1 , y =  2
x =  2 , y =  1
x =  2 , y =  2
x =  3 , y =  1
x =  3 , y =  2

In [109]:
%whos

Variable     Type          Data/Info
------------------------------------
SayHello     function      <function SayHello at 0x05292ED0>
Sayhello     function      <function Sayhello at 0x05D7F618>
a            int           3
avg          float         2.4
capitals     dict          n=3
char         str           o
count        int           5
dictview     dict_items    dict_items([('I', 1), ('I<...>, ('III', 3), ('IV', 4)])
dictview_1   dict_items    dict_items([('I', 1), ('I<...>3), ('IV', 4), ('V', 5)])
greet        str           hello
height       float         60.0
i            int           2
k            int           3
letter       str           n
names        tuple         n=4
num          int           -1
numNames     dict          n=3
nums         list          n=5
pair         tuple         n=2
romanNums    dict          n=5
s            str           python
str1         str           This is \nthe first\nMulti-line string.\n
sum          int           12
v            str           Three
var          int           0
weight       float         2.0
x            int           3
y            int           2